body {
    background-color: #eeeeee;
}

.stage-wrapper {
    width: 1200px;
    margin: 100px auto 0 auto;
    background-color: #ffffff;
}

.stage1 {
    width: 100%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1024 / 579;

    img,
    .woman-group,
    .man-group {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .woman-group,
    .man-group,
    #document,
    #sm-document,
    #pc-document {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    }

}

#left-comment,
#right-comment {
    scale: 0;
    opacity: 0;
}

#left-comment {
    transform-origin: 41% 33%;
}

#right-comment {
    transform-origin: 59% 65%;
}

#arrow {
    transform: translateX(-400px);
    opacity: 0;
}

#img-icon {
    transform-origin: 51% 46%;
    transform: translateX(-200px);
}

#pc-document {
    opacity: 0;
}