body {
    background-color: #000000;
}

.stage-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
    transition: all 0.3s ease;
    box-shadow: none;

    .stage-title {
        width: 100%;
        height: 4.625rem;
        background-color: #ffffff;
        font-size: 1.875rem;
        font-weight: bold;
        color: #3c3c3c;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.stage {
    width: 100%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1024 / 500;
    background-color: #ffffff;
    position: relative;

    img,
    .woman-group,
    .man-group {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    #left-comment,
    #right-comment {
        scale: 0;
        opacity: 0;
    }

    #left-comment {
        transform-origin: 41% 33%;
    }

    #right-comment {
        transform-origin: 59% 65%;
    }

    #arrow {
        transform: translateX(-400px);
        opacity: 0;
    }

    #img-icon {
        transform-origin: 51% 46%;
        transform: translateX(-200px);
    }

    #pc-document {
        opacity: 0;
    }
}

.case1 {

    #document,
    #pc-document,
    #sm-document,
    .man-group,
    .woman-group {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    }
}